body {
    margin: 0;
    background-color: #1B244A;
    /* align-items: center; */
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}


h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    /* align-items: center; */
    /* text-align: center; */
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 15px;
    
}

.score-box { 
    width: 165px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 120px;
    background: #080001;
    color: #F94F6D;
    font-size: 90px;
}

.increment-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.inc-btn {
    border: 2px solid #9AABD8;
    border-radius: 5px;
    width: 45px;
    line-height: 45px;
    background-color: transparent;
    color: #9AABD8; 
}

.new-game-btn {
    margin: 40px;
    cursor: pointer;
    background-color: seagreen;
    border: 2px solid black;
    border-radius: 5px;
    width: 150px;
    line-height: 30px;
}